{:deps {bbenzikry/neo4clj {:git/url "https://github.com/bbenzikry/neo4clj" :sha "6384a47a34378d528f29cdb5c62b68de4a6c48c5"}
        neo4j/neo4j-bi-jdbc {:mvn/version "1.0.0"}
        org.neo4j/neo4j-cypher {:mvn/version "4.1.1"}}}