{:deps {bbenzikry/neo4clj {:git/url "https://github.com/bbenzikry/neo4clj" :sha "f7fa0a27a56797e646458de6a4efeffb3381294d"}
        neo4j/neo4j-bi-jdbc {:mvn/version "1.0.0"}
        org.neo4j/neo4j-cypher {:mvn/version "4.1.1"}}}